<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.PostingMapper">

    <resultMap type="com.example.demo.DTO.Posting" id="postingmap">
        <id column="id" property="id"/>
        <result column="postingTitle" property="title"/>
        <result column="postingBody" property="body"/>
        <result column="guest_weight" property="weight"/>
        <result column="guest_gender" property="gender"/>
        <result column="guest_squat" property="squat"/>
        <result column="guest_benchpress" property="benchpress"/>
        <result column="guest_deadlift" property="deadlift"/>
        <result column="guest_rank" property="rank"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO posting(postingTitle, postingBody, guest_weight, guest_gender, guest_squat, guest_benchpress, guest_deadlift, guest_rank)
        VALUES(#{title}, #{body}, #{weight}, #{gender}, #{squat}, #{benchpress}, #{deadlift}, #{rank})
    </insert>

    <select id="getAll" resultMap ="postingmap">
        SELECT * FROM posting order by id desc
    </select>

    <select id="getTotalCount" resultMap="postingmap">
        SELECT COUNT(*) FROM posting;
    </select>

    <select id="getById" resultMap ="postingmap">
        SELECT * FROM posting WHERE id = #{id}
    </select>

    <!-- 게시물 목록(페이징) #{pageNum}이 보여질 페이지, 10은 한 페이지 당 보이는 게시물 수 -->
    <select id="getListPaging" resultMap ="postingmap">
        SELECT * FROM posting order by id desc
        LIMIT #{skipFrom},10
    </select>

    <!--
    <select id="getByTitle" resultMap ="postingmap">
        SELECT * FROM posting WHERE postingTitle LIKE '%${title}%'
    </select>

    <select id="getByCorrectTitle" resultMap ="postingmap">
        SELECT * FROM posting WHERE postingTitle = #{title}
    </select>
    -->

</mapper>